.simple-btn-1 {
  padding: 10px;
  font-size: 30px;
  color: #001e43;
  border: solid 3px #001e43;
  background: none;
}

.simple-btn-1:hover {
  box-shadow: 0 0 10px #001e43;
  transition:
    box-shadow 0.2s;
}

.search-btn-1 {
  padding: 8px;
  font-size: 30px;
  color: #043c78;
  border: solid 3px #434da2;
  background: none;
}

.search-btn-1:hover {
  box-shadow: 0 0 10px #434da2;
  transition:
    box-shadow 0.2s;
}

.delete-btn {
  padding: 5px 10px;
  font-size: 25px;
  color: #0075c2;
  border: solid 3px #6c9bd2;
  background: none;
}

.delete-btn:hover {
  box-shadow: 0 0 10px #6c9bd2;
  transition:
    box-shadow 0.2s;
}
