.input-1 {
  font-size: 40px;
  padding: 5px;
  width: 400px;
  border: none;
  outline: none;
  border-bottom: solid 2px #192f60;
  margin-right: 20px;
  background-color: #eaf4fc;
}

.file-input {
  font-size: 25px;
  border: solid 2px #192f60;
  background-color: #d4d9df;
  border-radius: 10px
}

.file-input-mini {
  font-size: 20px;
  border: solid 2px #192f60;
  background-color: #d4d9df;
  border-radius: 10px
}
::file-selector-button {
  border: none;
  background-color: #bcc7d7;
}

