#item-data-area {
  margin: 30px;
  padding: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c0c6c9;
}

#img-title {
  font-size: 50px;
}

#book-data-thumbnail-img {
  width: 30%;
}

#item-table {
  width: 60%;
  margin-top: 20px;
}

.item-th {
  text-align: right;
  vertical-align: center;
}

.item-td {
  text-align: left;
  vertical-align: center;
}

.item-label {
  margin-right: 20px;
  font-size: 25px;
  font-weight: normal;
}

.item-input {
  width: 100%;
  margin: 5px 0;
  font-size: 30px;
  outline: none;
  border: solid 1px #d4d9dc;
}

#item-input-thumbnail {
  margin: 5px 0;
}

.item-input:focus {
  border: solid 1px #001e43;
  box-shadow: 0 0 8px #001e43;
}

#item-save-btn {
  margin-top: 30px;
  margin-bottom: 10px;
}

#item-msg {
  font-size: 40px;
  margin-top: 30px;
  padding: 10px;
  color: #0f2350;
  text-shadow: 0 0 30px #19448e;
  border-bottom: solid 2px #19448e;
}
