#load-file-input-area {
  margin: 30px;
  padding: 30px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c0c6c9;
}

#load-csv-lines {
  font-size: 40px;
  font-weight: normal;
  margin-top: 20px;
}

#load-import-btn {
  margin-top: 30px;
}

#load-items-area {
  margin: 30px;
  padding: 30px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c0c6c9;
}

#load-no-items-msg {
  font-size: 40px;
  padding: 10px;
  color: #001e43;
  text-shadow: 0 0 40px #001e43;
}

.load-item {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: solid 1px #192f60;
  border-radius: 10px;
  background-color: #cbd0d3;
}

.load-item-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.load-item-summary {
  width: 30%;
  margin-right: 20px;
}

.load-item-img {
  width: 80%;
}

.load-book-data-table {
}

.load-book-data-th {
  text-align: right
}

.load-book-data-td {
  text-align: left; 
}

.load-book-data-lbl {
  font-size: 20px;
  font-weight: normal;
  margin-right: 10px;
}

.load-book-data-input {
  font-size: 30px;
  outline: none;
  border: solid 1px #d4d9dc;
}

.load-book-data-input:focus {
  border: solid 1px #001e43;
  box-shadow: 0 0 8px #001e43;
}

#load-confirm-btn {
  margin-bottom: 20px;
}

#load-msg {
  font-size: 40px;
  margin-bottom: 30px;
  padding: 10px;
  color: #0f2350;
  text-shadow: 0 0 30px #19448e;
  border-bottom: solid 2px #19448e;
}
