#search-query-area {
}

#search-target-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 30px;
}

.search-target {
  border-bottom: solid 1px #0f2350;
  margin-right: 20px;
  padding-bottom: 3px;
}

#search-keyword-input {
  margin-bottom: 30px;
}

.search-target-cb {
  width: 20px;
  height: 20px;
  accent-color: #0f2350;
  vertical-align: center;
  margin-right: 3px;
}

.search-target-lbl {
  font-size: 30px;
}

#search-result-area {
  width: 80%;
  margin: 30px 0px;
  padding: 20px;
  background-color: #c0c6c9;
}

#search-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}

#search-items-count {
  font-size: 20px;
  font-weight: 100;
  width: 100%;
  text-align: left;
  color: #0f2350;
}

.search-result {
  width: 25%;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.search-result-img {
  width: 60%;
  opacity: 0.8;
  margin-bottom: 10px;
}

.search-result-title {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  max-width: 100%;
}

#search-result-empty {
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
