{% extends "layout.html" %}

{% block title %}Add Item{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="static/stylesheets/style.css">
<link rel="stylesheet" href="static/stylesheets/buttons.css">
<link rel="stylesheet" href="static/stylesheets/input.css">
<link rel="stylesheet" href="static/stylesheets/add_item.css">
{% endblock %}

{% block scripts %}
<script src="static/scripts/add_item.js"></script>
{% endblock %}


{% block main %}
<div class="main-area" id="add-main-area">
  <h1 class="page-title" id="add-title">Add Item</h1>

  <div id="add-isbn-area">
    <input type="text" class="input-1" id="add-isbn-input" placeholder="ISBN">
    <button class="search-btn-1" id="add-isbn-btn" onclick="fill_book_data();">Search</button>
  </div>

  <div id="add-book-data-area">
    <table id="add-book-data-table">

      <tr class="add-book-data-tr">
        <th class="add-book-data-th"><label class="add-book-data-lbl">Title:</label></th>
        <td class="add-book-data-td"><input type="text" class="add-book-data-input" id="add-book-data-title"/></td>
      </tr>

      <tr class="add-book-data-tr">
        <th class="add-book-data-th"><label class="add-book-data-lbl">Author:</label></th>
        <td class="add-book-data-td"><input type="text" class="add-book-data-input" id="add-book-data-author"/></td>
      </tr>

      <tr class="add-book-data-tr">
        <th class="add-book-data-th"><label class="add-book-data-lbl">Publisher:</label></th>
        <td class="add-book-data-td"><input type="text" class="add-book-data-input" id="add-book-data-publisher"/></td>
      </tr>

      <tr class="add-book-data-tr">
        <th class="add-book-data-th"><label class="add-book-data-lbl">Date:</label></th>
        <td class="add-book-data-td"><input type="text" class="add-book-data-input" id="add-book-data-date"/></td>
      </tr>

      <tr class="add-book-data-tr">
        <th class="add-book-data-th"><label class="add-book-data-lbl">Pages:</label></th>
        <td class="add-book-data-td"><input type="text" class="add-book-data-input" id="add-book-data-pages"/></td>
      </tr>

      <tr class="add-book-data-tr">
        <th class="add-book-data-th"><label class="add-book-data-lbl">Language:</label></th>
        <td class="add-book-data-td"><input type="text" class="add-book-data-input" id="add-book-data-language"/></td>
      </tr>

    </table>
  </div>

  <div id="add-book-thumbnail-area">
    <input type="file" class="file-input" id="add-book-thumbnail-file" accept="image/*" onchange="update_img();">
    <img id="add-book-thumbnail-img" src="./static/img/3.png">
  </div>

  <div id="add-msg-placeholder"></div>
  <button class="simple-btn-1" id="add-book-save" onclick="send_item_data();">Save</button>


</div>
{% endblock %}
