{% extends "layout.html" %}

{% block title %}Top{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="static/stylesheets/style.css">
<link rel="stylesheet" href="static/stylesheets/buttons.css">
<link rel="stylesheet" href="static/stylesheets/index.css">
{% endblock %}


{% block main %}
<div class="main-area" id="index-main-area">
  <div id="index-buttons-area">
    <button class="simple-btn-1 index-btn" id="index-dashboard-btn" onclick="location.href='/dashboard'">Dashboard</button>
    <button class="simple-btn-1 index-btn" id="index-search-btn" onclick="location.href='/search'">Search</button>
    <button class="simple-btn-1 index-btn" id="index-add-btn" onclick="location.href='/add'">Add Item</button>
    <button class="simple-btn-1 index-btn" id="index-add-btn" onclick="location.href='/import'">Import CSV</button>
  </div>
</div>
{% endblock %}
