{% extends "layout.html" %}

{% block title %}Import CSV{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="static/stylesheets/style.css">
<link rel="stylesheet" href="static/stylesheets/input.css">
<link rel="stylesheet" href="static/stylesheets/buttons.css">
<link rel="stylesheet" href="static/stylesheets/load.css">
{% endblock %}

{% block scripts %}
<script src="static/scripts/load.js"></script>
{% endblock %}

{% block main %}
<div class="main-area" id="load-main-area">
    <h1 class="page-title" id="load-title">Import CSV</h1>

    <div id="load-file-input-area">
        <input type="file" class="file-input" id="load-csv-file" accept="text/csv" onchange="open_csv();">
        <h1 id="load-csv-lines">- Lines</h1>
        <button class="simple-btn-1" id="load-import-btn" onclick="send_csv();">Import</button>
    </div>

    <div id="load-items-area">
    </div>

    <div id="load-msg-placeholder"></div>
    <button class="simple-btn-1" id="load-confirm-btn" onclick="send_all_items();">OK</button>
</div>

{% endblock %}
