{% extends "layout.html" %}

{% block title %}Search{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="static/stylesheets/style.css">
<link rel="stylesheet" href="static/stylesheets/buttons.css">
<link rel="stylesheet" href="static/stylesheets/input.css">
<link rel="stylesheet" href="static/stylesheets/search.css">
{% endblock %}

{% block scripts %}
<script src="static/scripts/search.js"></script>
{% endblock %}


{% block main %}
<div class="main-area" id="search-main-area">
  <h1 class="page-title" id="search-title">Search</h1>

  <div id="search-query-area">
    <input type="text" class="input-1" id="search-keyword-input">
    <button class="search-btn-1" id="search-btn" onclick="search_item();">Search</button>

    <div id="search-target-area">
      <div class="search-target">
        <input type="checkbox" class="search-target-cb" id="search-target-isbn" name="search-target-isbn">
        <label class="search-target-lbl" for="search-target-isbn">ISBN</label>
      </div>

      <div class="search-target">
        <input type="checkbox" class="search-target-cb" id="search-target-title" name="search-target-title">
        <label class="search-target-lbl" for="search-target-title">Title</label>
      </div>

      <div class="search-target">
        <input type="checkbox" class="search-target-cb" id="search-target-author" name="search-target-author">
        <label class="search-target-lbl" for="search-target-author">Author</label>
      </div>

      <div class="search-target">
        <input type="checkbox" class="search-target-cb" id="search-target-publisher" name="search-target-publisher">
        <label class="search-target-lbl" for="search-target-publisher">Publisher</label>
      </div>

      <div class="search-target">
        <input type="checkbox" class="search-target-cb" id="search-target-date" name="search-target-date">
        <label class="search-target-lbl" for="search-target-date">Date</label>
      </div>

      <div class="search-target">
        <input type="checkbox" class="search-target-cb" id="search-target-pages" name="search-target-pages">
        <label class="search-target-lbl" for="search-target-pages">Pages</label>
      </div>

      <div class="search-target">
        <input type="checkbox" class="search-target-cb" id="search-target-language" name="search-target-language">
        <label class="search-target-lbl" for="search-target-language">Language</label>
      </div>
    </div>
  </div>

  <div id="search-result-area">
    <p id="search-items-count">{{ search_result_count }} Items</p>
    <div id="search-items">{{ search_result | safe }}</div>
  </div>

</div>
{% endblock %}
